<div>
    {{#each messages }}
        <p class"my-2 messages__container">
            <span class="text-info email">{{ author }} </span>
            <span class="date"> 
                [{{ fecha }}]    
            </span>
            <span class="text-success">: {{text}} </span>
        </p>
    {{/each}}
</div>
